<div class="center hero-unit">
  <h2>SUL Publications</h2>
<hr/>

 <p>RESTful access to the consolidated Stanford publications database.  The  URIs accept and return data in BibJSON format. The version of BibJSON to return may be specified in the header; the latest version will be returned by default.
 </p>

 <p>The data is transferred as BibJSON and as such uses the BibTex field names where appropriate, custom fields otherwise.  Some of the custom fields refer to the 'document' and some to the 'publication' to differentiate between the specific document cited and the publication in which it appeared.  A journal article, for example, is a 'document' that appeared in a journal 'publication.'</p>
<hr/>

<table class="table table-striped">
        <thead>
          <tr>
            <th>Verb</th>
            <th>URI</th>
            <th>Body</th>
            <th>Returns</th>
            <th>Sample</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GET</td>
            <td>http://sulcap.stanford.edu/publications/{pubId}</td>
            <td>No Body. URI itself identifies record to return.</td>
            <td>Single BibJSON record</td>
            <td> <%= link_to "Output", sul_bib_api_samples_path + '/get_pub_out' %>  </td>
          </tr>
          <tr>
            <td>POST</td>
            <td>http://sulcap.stanford.edu/publications</td>
            <td>BibJSON for record(s) to create. </td>
            <td>BibJSON that was submitted for the new record(s), with newly minted URI.  </td>
            <td><%= link_to "Input", sul_bib_api_samples_path + '/post_pub_in' %> <%= link_to "Output", sul_bib_api_samples_path + '/post_pub_out' %>  </td>
         
          </tr>
          <tr>
            <td>PUT</td>
            <td>http://sulcap.stanford.edu/publications/{pubId}</td>
            <td>BibJSON to replace existing pub record. </td>
            <td>BibJSON that was submitted to update the record.</td>
            <td><%= link_to "Input", sul_bib_api_samples_path + '/put_pub_in' %> <%= link_to "Output", sul_bib_api_samples_path + '/put_pub_out' %>  </td>
         
          </tr>
          <tr>
            <td>DELETE</td>
            <td>http://sulcap.stanford.edu/publications/{pubId}</td>
            <td>No body.  URI itself identifies record to delete.</td>
            <td>BibJSON for deleted record.  </td>
            <td><%= link_to "Output", sul_bib_api_samples_path + '/delete_pub_out' %>  </td>
         
          </tr>
          <tr>
            <td>GET</td>
            <td>http://sulcap.stanford.edu/publications?population={popId}&changedSince={YYYY-MM-DDTHH:MM:SSZ} <br/></td>
            <td>No Body</td>
            <td>BibJSON collection.</td>
            <td><%= link_to "Output", sul_bib_api_samples_path + '/get_pubs_out' %>  </td>
         
          </tr>
          <tr>
            <td>GET</td>
            <td>http://sulcap.stanford.edu/sourcelookup?lastname={}&firstname={}&middlename={}&year={}&title={}&source={}</td>
            <td>No body.  Query encoded as URI params.</td>
            <td>Potentially matching pubs found in source, as BibJSON.</td>
            <td> <%= link_to "Output", sul_bib_api_samples_path + '/get_source_lookup_out' %>  </td>
         
          </tr>
        </tbody>
      </table>





 <!-- <%= link_to "GET /sulbib/v1/publications/1", '#', class: "btn btn-large btn-primary" %>  -->