<div class="center hero-unit">
  <h2>SUL Publication Resources</h2>


<p style="font-size:medium">RESTful access to the Stanford Libraries' consolidated publications database.</p>

<hr style="color:#000;background-color:#000;border-color:#000"/>


<h5 style="padding-bottom:10px;text-align:left;">http://sulcap.stanford.edu/publications/{sulPubId}</h5>
<p class="sultext">View, update, or delete a single publication resource.</p>
<table class="table table-striped">       
        <tbody>
          <tr>
            <td>HEAD</td>
            <td>Returns same as GET, but without body.</td>            
          </tr>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>            
          </tr>
          <tr>
            <td>GET</td>
            <td>Returns BibJSON record for the publication.</td>
          </tr>
          <tr>
            <td>PUT</td>
            <td>Updates publication record.</td>
          </tr>
          <tr>
            <td>DELETE</td>
            <td>Deletes publication record.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", static_pages_pubapi_path %></p>
<hr style="color:#000;background-color:#000;border-color:#000"/>
     
 
<h5 style="padding-bottom:10px;text-align:left">http://sulcap.stanford.edu/publications</h5>
<p class="sultext">Create one or more publication resources.</p>
<table class="table table-striped">       
        <tbody>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>            
          </tr>
          <tr>
            <td>POST</td>
            <td>Creates one or more new publication resources from the BibJSON or BibTeX included in the posted body.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", static_pages_pubsapi_path %></p>
<hr style="color:#000;background-color:#000;border-color:#000"/>


<h5 style="padding-bottom:10px;text-align:left">http://sulcap.stanford.edu/publications?population={popId}&changedSince={YYYY-MM-DDTHH:MM:SSZ}</h5>
<p class="sultext">Returns all publications created or modified since the given date, for the given population.</p>
<table class="table table-striped">       
        <tbody>
          <tr>
            <td>HEAD</td>
            <td>Returns same as GET, but without body.</td>            
          </tr>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>            
          </tr>
          <tr>
            <td>GET</td>
            <td>Returns BibJSON record for the publication.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", static_pages_pollapi_path %></p>
<hr style="color:#000;background-color:#000;border-color:#000"/>


<h5 style="padding-bottom:10px;text-align:left">http://sulcap.stanford.edu/sourcelookup?lastname={}&firstname={}&middlename={}&year={}&title={}&source={}</h5>
<p class="sultext">Returns all matching publications from remote sources (ScienceWire only initially.)</p>
<table class="table table-striped">       
        <tbody>
          <tr>
            <td>HEAD</td>
            <td>Returns same as GET, but without body.</td>            
          </tr>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>            
          </tr>
          <tr>
            <td>GET</td>
            <td>Returns potential matches as BibJSON collection.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", static_pages_queryapi_path %></p>

  



 <!-- <%= link_to "GET /sulbib/v1/publications/1", '#', class: "btn btn-large btn-primary" %>  -->