<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Sunetid</th>
    <th>University</th>
    <th>Shc doctor no</th>
    <th>Ca license number</th>
    <th>Cap first name</th>
    <th>Cap last name</th>
    <th>Cap middle name</th>
    <th>Display name</th>
    <th>Official first name</th>
    <th>Official last name</th>
    <th>Official middle name</th>
    <th>Preferred first name</th>
    <th>Preferred last name</th>
    <th>Preferred middle name</th>
    <th>Pubmed last name</th>
    <th>Pubmed first initial</th>
    <th>Pubmed middle initial</th>
    <th>Pubmed institution</th>
    <th>Pubmed other institution</th>
    <th>Cap url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.sunetid %></td>
    <td><%= profile.university_id %></td>
    <td><%= profile.shc_doctor_no %></td>
    <td><%= profile.ca_license_number %></td>
    <td><%= profile.cap_first_name %></td>
    <td><%= profile.cap_last_name %></td>
    <td><%= profile.cap_middle_name %></td>
    <td><%= profile.display_name %></td>
    <td><%= profile.official_first_name %></td>
    <td><%= profile.official_last_name %></td>
    <td><%= profile.official_middle_name %></td>
    <td><%= profile.preferred_first_name %></td>
    <td><%= profile.preferred_last_name %></td>
    <td><%= profile.preferred_middle_name %></td>
    <td><%= profile.pubmed_last_name %></td>
    <td><%= profile.pubmed_first_initial %></td>
    <td><%= profile.pubmed_middle_initial %></td>
    <td><%= profile.pubmed_institution %></td>
    <td><%= profile.pubmed_other_institution %></td>
    <td><%= profile.cap_url %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
