<p id="notice"><%= notice %></p>

<p>
  <b>Sunetid:</b>
  <%= @profile.sunetid %>
</p>

<p>
  <b>University:</b>
  <%= @profile.university_id %>
</p>

<p>
  <b>Shc doctor no:</b>
  <%= @profile.shc_doctor_no %>
</p>

<p>
  <b>Ca license number:</b>
  <%= @profile.ca_license_number %>
</p>

<p>
  <b>Cap first name:</b>
  <%= @profile.cap_first_name %>
</p>

<p>
  <b>Cap last name:</b>
  <%= @profile.cap_last_name %>
</p>

<p>
  <b>Cap middle name:</b>
  <%= @profile.cap_middle_name %>
</p>

<p>
  <b>Display name:</b>
  <%= @profile.display_name %>
</p>

<p>
  <b>Official first name:</b>
  <%= @profile.official_first_name %>
</p>

<p>
  <b>Official last name:</b>
  <%= @profile.official_last_name %>
</p>

<p>
  <b>Official middle name:</b>
  <%= @profile.official_middle_name %>
</p>

<p>
  <b>Preferred first name:</b>
  <%= @profile.preferred_first_name %>
</p>

<p>
  <b>Preferred last name:</b>
  <%= @profile.preferred_last_name %>
</p>

<p>
  <b>Preferred middle name:</b>
  <%= @profile.preferred_middle_name %>
</p>

<p>
  <b>Pubmed last name:</b>
  <%= @profile.pubmed_last_name %>
</p>

<p>
  <b>Pubmed first initial:</b>
  <%= @profile.pubmed_first_initial %>
</p>

<p>
  <b>Pubmed middle initial:</b>
  <%= @profile.pubmed_middle_initial %>
</p>

<p>
  <b>Pubmed institution:</b>
  <%= @profile.pubmed_institution %>
</p>

<p>
  <b>Pubmed other institution:</b>
  <%= @profile.pubmed_other_institution %>
</p>

<p>
  <b>Cap url:</b>
  <%= @profile.cap_url %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
