<div class="hero-unit">
  <h2>SUL Publication Resources</h2>


<p style="font-size:medium">RESTful access to the Stanford Libraries' consolidated publications database.</p>

<hr style="color:#000;background-color:#000;border-color:#000"/>


<h5 style="padding-bottom:10px;text-align:left;"><%=Settings.SULPUB_ID.PUB_URI %>/{sulPubId}</h5>
<p class="sultext">View, update, or delete a single publication resource.</p>
<table class="table table-striped">
        <tbody>
          <tr>
            <td>HEAD</td>
            <td>Returns same as GET, but without body.</td>
          </tr>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>
          </tr>
          <tr>
            <td>GET</td>
            <td>Returns BibJSON record for the publication.</td>
          </tr>
          <tr>
            <td>PUT</td>
            <td>Updates publication record.</td>
          </tr>
          <tr>
            <td>DELETE</td>
            <td>Deletes publication record.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", page_path('pubapi') %></p>
<hr style="color:#000;background-color:#000;border-color:#000"/>


<h5 style="padding-bottom:10px;text-align:left"><%=Settings.SULPUB_ID.PUB_URI %></h5>
<p class="sultext">Create one or more publication resources.</p>
<table class="table table-striped">
        <tbody>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>
          </tr>
          <tr>
            <td>POST</td>
            <td>Creates one or more new publication resources from the BibJSON or BibTeX included in the posted body.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", page_path('pubsapi') %></p>
<hr style="color:#000;background-color:#000;border-color:#000"/>


<h5 style="padding-bottom:10px;text-align:left"><%=Settings.SULPUB_ID.PUB_URI %>?changedSince={YYYY-MM-DDTHH:MM:SSZ}&capProfileId={capId}&page={resultpage}&per={results_per_page}</h5>
<p class="sultext">Returns all publications created or modified since the given date.  If the profile id is specified then only publications for that id are returned.</p>
<table class="table table-striped">
        <tbody>
          <tr>
            <td>HEAD</td>
            <td>Returns same as GET, but without body.</td>
          </tr>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>
          </tr>
          <tr>
            <td>GET</td>
            <td>Returns BibJSON record for the publication.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", page_path('pollapi') %></p>
<hr style="color:#000;background-color:#000;border-color:#000"/>


<h5 style="padding-bottom:10px;text-align:left"><%=Settings.SULPUB_ID.AUTHORSHIP_URI %></h5>
<p class="sultext">Create or modify an authorship record.</p>
<table class="table table-striped">
        <tbody>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>
          </tr>
          <tr>
            <td>POST</td>
            <td>Creates or modifies an authorship record using the information included in the posted body.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", page_path('authorshipapi') %></p>
<hr style="color:#000;background-color:#000;border-color:#000"/>


<h5 style="padding-bottom:10px;text-align:left"><%=Settings.SULPUB_ID.PUB_URI %>/sourcelookup?year={}&title={}&source={}&doi={}&pmid={}</h5>
<p class="sultext">Returns all matching publications from remote sources or from users' locally submitted publications.  </p>
<table class="table table-striped">
        <tbody>
          <tr>
            <td>HEAD</td>
            <td>Returns same as GET, but without body.</td>
          </tr>
          <tr>
            <td>OPTIONS</td>
            <td>Lists available methods.</td>
          </tr>
          <tr>
            <td>GET</td>
            <td>Returns potential matches as BibJSON collection.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", page_path('queryapi') %></p>
<hr style="color:#000;background-color:#000;border-color:#000"/>

<h5 style="padding-bottom:10px;text-align:left"><%=Settings.SULPUB_ID.AUTHOR_URI %>/{capId}/harvest?format=json&altNames={false}</h5>
<p class="sultext">Harvests publications for an Author.</p>
<table class="table table-striped">
        <tbody>
          <tr>
            <td>POST</td>
            <td>Harvests publications for an Author.</td>
          </tr>
          <tbody>
</table>
<p class="sultext"><%= link_to "See Full Spec", page_path('authorapi') %></p>
